<div class="footer container-fluid ">
    <div class="container">
        <div class="row text-center pt-4">
            <div class="col-md-4 text-left">
                <h4><b>Follow us</b></h4>
                <p>Let like and shared my group.</p>
                <img src="./assets/img/faces/social-icons.png" alt="">

            </div>
            <div class="col-md-4 text-left">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.2327446160434!2d108.21553985009973!3d16.053407688836185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219c8ffde8285%3A0xef9e050e01b06445!2zNDU1IEhvw6BuZyBEaeG7h3UsIELDrG5oIFRodeG6rW4sIFEuIEjhuqNpIENow6J1LCDEkMOgIE7hurVuZyA1NTAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1555409114984!5m2!1svi!2s"
                    frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>
            <div  class="col-md-4 text-center">

                <h4 style="float: left;">Copyright DUT-JOB</h4>
                <div style="clear: left"></div>
                <address>
                    <p style="float: left;"> <span><img src="./assets/img/faces/telephone.svg" alt=""></span>&nbsp;&nbsp;(+84) 702364709 </p>
                    <div style="clear: left"></div>
                    <p style="float: left;"> <span><img src="./assets/img/faces/emailsvg.svg" alt=""></span>&nbsp;&nbsp;dut.job@enclave.vn</p>
                    <p style="float: left;"> <span><img src="./assets/img/faces/location.svg" alt=""></span>&nbsp;&nbsp;54 Nguyen Luong Bang.</p>
                </address>
            </div>
        </div>

    </div>
</div>