<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="main-content">
            <div class="container-fluid">
                <div class="card">
                    <!-- <div class="card-header card-header-danger">
                        <h4 class="card-title">Material Dashboard typography</h4>
                        <p class="card-category">Created using Roboto Font Family</p>
                    </div> -->
                    <div class="card-body">
                        <div id="typography">
                            <div class="card-title">
                                <h2>Add New Faculty</h2>

                            </div>
                            <div class="row">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <form #faculty="ngForm" (ngSubmit)="addFaculty(faculty.value)">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" class="form-control" name="name" id="name" placeholder="" ngModel>                                               
                                            </div>
                                            <br>
                                            <div class="form-group">                                                    
                                                <label for="name">Description</label>
                                                <input type="text" class="form-control" name="description" id="description" placeholder="" ngModel>
                                            </div>
                                            <button type="submit" class="btn btn-info">ADD</button>
                                            <button [routerLink]="['/typography']" class="btn btn-danger">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>