/* .table_content a {
    margin-left: 30px;
    float: right;
} */

.delete {
    margin-left: 20px;
}

.table thead {
    border-bottom: 2px solid rgba(0, 0, 0, 0.06);
}

.table td,
th {
    padding-left: 45px;
    padding-right: 30px;
}

.table th {
    color: black;
    font-weight: 700;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.pag-active {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.pag-disable{
    display: none;
}