<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <!-- <div class="card-header card-header-danger">
                <h4 class="card-title">Material Dashboard ICON</h4>
                <p class="card-category">Created using Roboto Font Family</p>
            </div> -->
            <div class="card-body">
                <div id="typography">
                    <div class="card-title">
                        <h2>Skills</h2>
                        <a [routerLink]="['/add-Keyskills']" role="button" style="font-weight: bold">
                            <img src="./assets/img/faces/addbox2.svg" alt="" width="30px">Add New Skill</a>
                    </div>
                    <div class="row">
                        <div class="card-body col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead class=" text-primary">
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            Action
                                        </th>

                                    </thead>
                                    <tbody class="table_content">
                                        <!-- let variable of interface to display in html -->
                                        <tr *ngFor="let keyskill of keyskillList; let i=index">
                                            <td  scope="row">{{i+1}}</td>
                                            <td>{{keyskill.name}}</td>
                                            <td>{{keyskill.description}}</td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <a [routerLink]="['/edit-keyskills/',keyskill.id]" role="button" style="color:azure;font-weight: 500">
                                                            <img src="./assets/img/faces/edit.png" alt="" width="20px"></a>
                                                        
                                                    </div>
                                                    <div class="col-md-3">
                                                            <a class="delete" style="color:azure; font-weight: 500" (click)="deleteKeyskill(keyskill.id)">
                                                                    <img src="./assets/img/faces/delete.png" alt="" width="20px"></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>