.delete {
    margin-left: 20px;
}

.table thead {
    border-bottom: 2px solid rgba(0, 0, 0, 0.06);
}

.table td,
th {
    padding-left: 150px;
    padding-right: 100px;
}

.table th {
    color: black;
    font-weight: 600;
}