<div class="Login container-fluid pt-5 ">
    <div class="container pt-5">
        <div class="row pt-5">
            <div class="col-md-6 offset-md-3 loginform">
                <div class="loginHead text-center">
                    <h2 class="">Login</h2>
                    <span>-----<img src="./assets/img/faces/star.png" alt="">-----</span>
                </div>
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <!-- Show message -->
                    <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">{{message.text}}</div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <!-- ng model binding 2 way credentials -->
                        <input type="text" placeholder="Enter Email" class="form-control" name="email" [(ngModel)]="credentials.username" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                        <div *ngIf="f.submitted && email.invalid " class="invalid-feedback">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" placeholder="Enter Password" class="form-control" name="password" [(ngModel)]="credentials.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
                        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                            <div *ngIf="password.errors.required">Password is required</div>
                            <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Login</button>
                        <a [routerLink]="['/register']" class="btn btn-link">Register Now</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>