/* HEADER */

.header-top {
    background: #fff;
    min-height: 20px;
    // position: fixed;
    z-index: 9999;
    clear: both;
    border-bottom: 1px solid rgba(128, 128, 128, 0.17);
}

.logo {
    // float: left;
    width: 100%;
    padding-left: 100px;
}

.menu ul {
    float: right;
    margin: 30px 0 0 0;
}

.menu ul li {
    display: inline-block;
    margin: 0 5px;
}

.menu ul li a {
    color: #60B0E6;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #fff;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    display: block;
}

.menu ul li.active,
.menu ul li a:hover {
    border: 1px solid #60B0E6;
}

.btn-group a:hover {
    background-color: #f1f1f1
}


/* HEADER*/